﻿body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    color: dimgray;
}

input {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    border: 0;
    border-top: 2px outset;
    border-color: darkslategrey;
}

p {
    margin: 0;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.log p:last-child {
    color: black;
}
